//
// calculate width and height of cards based on board size and
// maximum cards in a row
//

@mixin card-dimensions($n, $board-size: $board-default-size) {
  $x: card-size($n, $board-size);

  height: $x * 1.4;
  width: $x;
}