//
// helper mixin to define card colors
//

@mixin card-colors($color: $card-default) {
  $color-contrast:   adjust-hue(darken($color, 15%), -15%);

  &__back {
    background: $color;
    @include gradient(-45deg, $color);

    &::after,
    &::before {
      border-color: $color-contrast;
    }
  }
}