//
// simplify border-radius for cards and placeholders
//

@mixin card-border-radius($card-width: false) {
  @if $card-width {
    border-radius: ($card-width * 0.1);
  }

  @else {
    border-radius: 1vw;
  }
}