//
// Surströmming - sets box-shadow based on given elevation
//

@mixin elevate($elevation: 0, $color: #000) {
  $x: (2px + $elevation * 0.25);
  $y1: ($elevation * 1px);
  $y2: ($elevation + 1px);

  $blur: (3px + $elevation);

  @if $elevation != 0 {
    box-shadow: $x $y1 $blur rgba($color, 0.05), ($x * -1) $y2 $blur rgba($color, 0.1);
  }

  @else {
    box-shadow: 0 1px 5px rgba($color, 0.1);
  }
}