@charset "UTF-8";
/**
 *
 *  Solitaire Collection
 *
 *
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

.board {
  background: #394a65;
  background-image: -owg-linear-gradient(0, #394a65, #395165);
  background-image: linear-gradient(0, #394a65, #395165);
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-top: 36px;
  width: 100%; }
  .board__top {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 100%; }
  .board__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    -ms-flex-pack: center;
        justify-content: center; }
  @media only screen and (min-width: 768px) {
    .board {
      padding-top: 80px; } }
  @media only screen and (min-width: 1920px) {
    .board {
      padding-top: 136px; } }

.card {
  box-sizing: border-box;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-family: sans-serif;
  position: relative;
  transition: margin-top 0.3s ease; }
  .card__back {
    background: #FE8139;
    background-image: -owg-linear-gradient(-45deg, #FE8139, #fe6039);
    background-image: linear-gradient(-45deg, #FE8139, #fe6039); }
    .card__back::after, .card__back::before {
      border-color: #e91c01; }
  .card--hearts, .card--diamonds {
    color: #C32A46; }
  .card--clubs, .card--spades {
    color: #1F1F1F; }
  .card__back, .card__front {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    box-sizing: border-box;
    border-radius: 1vw;
    box-shadow: 2.25px 1px 4px rgba(0, 0, 0, 0.05), -2.25px 2px 4px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow: hidden;
    transition: all 0.4s ease;
    width: 100%; }
    .card:hover .card__back, .card:hover .card__front {
      box-shadow: 3.75px 7px 10px rgba(0, 0, 0, 0.05), -3.75px 8px 10px rgba(0, 0, 0, 0.1); }
  .card__front {
    background: #FDFDFD;
    border: 1px solid #e4e3e3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-positive: 1;
        flex-grow: 1;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding: 10% 8%; }
    .card--back .card__front {
      transform: rotateY(180deg); }
    .card--clicked .card__front, .card--clicked .card__front:hover {
      box-shadow: 0 0 15px 2px #fbd3bb; }
    .card__front::before {
      left: 50%;
      font-family: sans-serif;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
    .card--diamonds .card__front::before {
      content: "♦"; }
    .card--hearts .card__front::before {
      content: "♥"; }
    .card--spades .card__front::before {
      content: "♠"; }
    .card--clubs .card__front::before {
      content: "♣"; }
  .card__back {
    border-color: #FDFDFD;
    border-style: solid;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateY(180deg); }
    .card__back::after, .card__back::before {
      border: 1px solid;
      content: "";
      position: absolute; }
      @media only screen and (min-width: 768px) {
        .card__back::after, .card__back::before {
          border-width: 2px; } }
    .card__back::before {
      border-radius: 0.75vw;
      bottom: 4%;
      left: 5%;
      right: 5%;
      top: 4%; }
    .card__back::after {
      border-radius: 0.5vw;
      bottom: 8%;
      left: 11%;
      right: 11%;
      top: 8%; }
    .card--back .card__back {
      transform: rotateY(0); }
  .card__color {
    display: block;
    font-weight: bold;
    text-align: center; }
    .card__color::before {
      display: block;
      line-height: 1; }
    .card__color::after {
      display: block;
      font-size: 0.875em;
      line-height: 1; }
    .card__color:first-child {
      -ms-flex-item-align: start;
          align-self: flex-start; }
    .card__color:last-child {
      -ms-flex-item-align: end;
          align-self: flex-end;
      transform: rotate(180deg); }
    .card--0 .card__color::before {
      content: "A"; }
    .card--1 .card__color::before {
      content: "2"; }
    .card--2 .card__color::before {
      content: "3"; }
    .card--3 .card__color::before {
      content: "4"; }
    .card--4 .card__color::before {
      content: "5"; }
    .card--5 .card__color::before {
      content: "6"; }
    .card--6 .card__color::before {
      content: "7"; }
    .card--7 .card__color::before {
      content: "8"; }
    .card--8 .card__color::before {
      content: "9"; }
    .card--9 .card__color::before {
      content: "10"; }
    .card--10 .card__color::before {
      content: "J"; }
    .card--11 .card__color::before {
      content: "Q"; }
    .card--12 .card__color::before {
      content: "K"; }
    .card--diamonds .card__color::after {
      content: "♦"; }
    .card--hearts .card__color::after {
      content: "♥"; }
    .card--spades .card__color::after {
      content: "♠"; }
    .card--clubs .card__color::after {
      content: "♣"; }

.card-placeholder {
  position: relative; }
  .board .card-placeholder:first-child {
    margin-left: 0; }
  .card-placeholder:not(:empty) {
    border-radius: 1vw;
    box-shadow: 2.75px 3px 6px rgba(0, 0, 0, 0.05), -2.75px 4px 6px rgba(0, 0, 0, 0.1); }
  .card-placeholder::before {
    box-sizing: border-box;
    border: 2px solid rgba(31, 31, 31, 0.4);
    border-radius: 1vw;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .card-placeholder .card {
    left: 0;
    position: absolute;
    top: 0; }
  .board .tableau .card-placeholder {
    box-shadow: none;
    height: auto; }
    .board .tableau .card-placeholder .card {
      left: auto;
      position: relative;
      top: auto; }

.deck {
  display: -ms-flexbox;
  display: flex; }

.foundations {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.free-cells {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.tableau {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 24px; }
  .tableau__column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column; }
  .tableau .card + .card {
    margin-top: -100%; }
  .tableau .card--back + .card {
    margin-top: -115%; }
  @media only screen and (min-width: 768px) {
    .tableau {
      margin-top: 7.5%; } }
  @media only screen and (min-width: 1920px) {
    .tableau {
      margin-top: 5%; } }

[data-tooltip] {
  position: relative; }
  [data-tooltip]::after, [data-tooltip]::before {
    color: #FDFDFD;
    left: 50%;
    line-height: 1;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, 7px);
    transition: all 0.5s ease; }
  [data-tooltip]::after {
    background: rgba(31, 31, 31, 0.8);
    border-radius: 3px;
    content: attr(data-tooltip);
    font-size: 0.625rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-top: 7px;
    padding: 5px 8px;
    text-align: center;
    top: 98%;
    white-space: nowrap; }
  [data-tooltip]::before {
    border-bottom: 7.5px solid rgba(31, 31, 31, 0.8);
    content: "";
    height: 0;
    width: 0;
    z-index: 2;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 98%; }
  [data-tooltip]:hover::after, [data-tooltip]:hover::before {
    opacity: 1;
    transform: translate(-50%, 0); }

.board--freecell {
  padding-left: 4.1666666667vw;
  padding-right: 4.1666666667vw; }
  .board--freecell .card {
    height: 11.877962963vw;
    width: 8.4842592593vw; }
    .board--freecell .card__back, .board--freecell .card__front {
      border-radius: 1vw; }
    .board--freecell .card__back {
      border-width: 0.424212963vw; }
    .board--freecell .card__front::before {
      font-size: 4.2421296296vw; }
    .board--freecell .card__color {
      font-size: 1.2726388889vw; }
  .board--freecell .card-placeholder {
    height: 11.877962963vw;
    width: 8.4842592593vw;
    margin-left: 1.9135416667vw; }
    .board--freecell .card-placeholder.tableau__column:before {
      height: 11.877962963vw;
      width: 8.4842592593vw;
      margin-left: 0; }
  @media only screen and (min-width: 414px) {
    .board--freecell {
      padding-left: 12.5vw;
      padding-right: 12.5vw; }
      .board--freecell .card {
        height: 9.7183333333vw;
        width: 6.9416666667vw; }
        .board--freecell .card__back, .board--freecell .card__front {
          border-radius: 1vw; }
        .board--freecell .card__back {
          border-width: 0.3470833333vw; }
        .board--freecell .card__front::before {
          font-size: 3.4708333333vw; }
        .board--freecell .card__color {
          font-size: 1.04125vw; }
      .board--freecell .card-placeholder {
        height: 9.7183333333vw;
        width: 6.9416666667vw;
        margin-left: 1.565625vw; }
        .board--freecell .card-placeholder.tableau__column:before {
          height: 9.7183333333vw;
          width: 6.9416666667vw;
          margin-left: 0; } }
  @media only screen and (min-width: 768px) {
    .board--freecell {
      padding-left: 4.1666666667vw;
      padding-right: 4.1666666667vw; }
      .board--freecell .card {
        height: 11.877962963vw;
        width: 8.4842592593vw; }
        .board--freecell .card__back, .board--freecell .card__front {
          border-radius: 1vw; }
        .board--freecell .card__back {
          border-width: 0.424212963vw; }
        .board--freecell .card__front::before {
          font-size: 4.2421296296vw; }
        .board--freecell .card__color {
          font-size: 1.2726388889vw; }
      .board--freecell .card-placeholder {
        height: 11.877962963vw;
        width: 8.4842592593vw;
        margin-left: 1.9135416667vw; }
        .board--freecell .card-placeholder.tableau__column:before {
          height: 11.877962963vw;
          width: 8.4842592593vw;
          margin-left: 0; } }
  @media only screen and (min-width: 1024px) {
    .board--freecell {
      padding-left: 8.3333333333vw;
      padding-right: 8.3333333333vw; }
      .board--freecell .card {
        height: 10.7981481481vw;
        width: 7.712962963vw; }
        .board--freecell .card__back, .board--freecell .card__front {
          border-radius: 1vw; }
        .board--freecell .card__back {
          border-width: 0.3856481481vw; }
        .board--freecell .card__front::before {
          font-size: 3.8564814815vw; }
        .board--freecell .card__color {
          font-size: 1.1569444444vw; }
      .board--freecell .card-placeholder {
        height: 10.7981481481vw;
        width: 7.712962963vw;
        margin-left: 1.7395833333vw; }
        .board--freecell .card-placeholder.tableau__column:before {
          height: 10.7981481481vw;
          width: 7.712962963vw;
          margin-left: 0; } }
  @media only screen and (min-width: 1440px) {
    .board--freecell {
      padding-left: 12.5vw;
      padding-right: 12.5vw; }
      .board--freecell .card {
        height: 9.7183333333vw;
        width: 6.9416666667vw; }
        .board--freecell .card__back, .board--freecell .card__front {
          border-radius: 1vw; }
        .board--freecell .card__back {
          border-width: 0.3470833333vw; }
        .board--freecell .card__front::before {
          font-size: 3.4708333333vw; }
        .board--freecell .card__color {
          font-size: 1.04125vw; }
      .board--freecell .card-placeholder {
        height: 9.7183333333vw;
        width: 6.9416666667vw;
        margin-left: 1.565625vw; }
        .board--freecell .card-placeholder.tableau__column:before {
          height: 9.7183333333vw;
          width: 6.9416666667vw;
          margin-left: 0; } }
  @media only screen and (min-width: 1920px) {
    .board--freecell {
      padding-left: 16.6666666667vw;
      padding-right: 16.6666666667vw; }
      .board--freecell .card {
        height: 8.6385185185vw;
        width: 6.1703703704vw; }
        .board--freecell .card__back, .board--freecell .card__front {
          border-radius: 1vw; }
        .board--freecell .card__back {
          border-width: 0.3085185185vw; }
        .board--freecell .card__front::before {
          font-size: 3.0851851852vw; }
        .board--freecell .card__color {
          font-size: 0.9255555556vw; }
      .board--freecell .card-placeholder {
        height: 8.6385185185vw;
        width: 6.1703703704vw;
        margin-left: 1.3916666667vw; }
        .board--freecell .card-placeholder.tableau__column:before {
          height: 8.6385185185vw;
          width: 6.1703703704vw;
          margin-left: 0; } }

.board--solitaire {
  padding-left: 4.1666666667vw;
  padding-right: 4.1666666667vw; }
  .board--solitaire .card {
    height: 15.2716666667vw;
    width: 10.9083333333vw; }
    .board--solitaire .card__back, .board--solitaire .card__front {
      border-radius: 1vw; }
    .board--solitaire .card__back {
      border-width: 0.5454166667vw; }
    .board--solitaire .card__front::before {
      font-size: 5.4541666667vw; }
    .board--solitaire .card__color {
      font-size: 1.63625vw; }
  .board--solitaire .card-placeholder {
    height: 15.2716666667vw;
    width: 10.9083333333vw;
    margin-left: 2.5513888889vw; }
    .board--solitaire .card-placeholder.tableau__column:before {
      height: 15.2716666667vw;
      width: 10.9083333333vw;
      margin-left: 0; }
  @media only screen and (min-width: 414px) {
    .board--solitaire {
      padding-left: 12.5vw;
      padding-right: 12.5vw; }
      .board--solitaire .card {
        height: 12.495vw;
        width: 8.925vw; }
        .board--solitaire .card__back, .board--solitaire .card__front {
          border-radius: 1vw; }
        .board--solitaire .card__back {
          border-width: 0.44625vw; }
        .board--solitaire .card__front::before {
          font-size: 4.4625vw; }
        .board--solitaire .card__color {
          font-size: 1.33875vw; }
      .board--solitaire .card-placeholder {
        height: 12.495vw;
        width: 8.925vw;
        margin-left: 2.0875vw; }
        .board--solitaire .card-placeholder.tableau__column:before {
          height: 12.495vw;
          width: 8.925vw;
          margin-left: 0; } }
  @media only screen and (min-width: 768px) {
    .board--solitaire {
      padding-left: 4.1666666667vw;
      padding-right: 4.1666666667vw; }
      .board--solitaire .card {
        height: 15.2716666667vw;
        width: 10.9083333333vw; }
        .board--solitaire .card__back, .board--solitaire .card__front {
          border-radius: 1vw; }
        .board--solitaire .card__back {
          border-width: 0.5454166667vw; }
        .board--solitaire .card__front::before {
          font-size: 5.4541666667vw; }
        .board--solitaire .card__color {
          font-size: 1.63625vw; }
      .board--solitaire .card-placeholder {
        height: 15.2716666667vw;
        width: 10.9083333333vw;
        margin-left: 2.5513888889vw; }
        .board--solitaire .card-placeholder.tableau__column:before {
          height: 15.2716666667vw;
          width: 10.9083333333vw;
          margin-left: 0; } }
  @media only screen and (min-width: 1024px) {
    .board--solitaire {
      padding-left: 8.3333333333vw;
      padding-right: 8.3333333333vw; }
      .board--solitaire .card {
        height: 13.8833333333vw;
        width: 9.9166666667vw; }
        .board--solitaire .card__back, .board--solitaire .card__front {
          border-radius: 1vw; }
        .board--solitaire .card__back {
          border-width: 0.4958333333vw; }
        .board--solitaire .card__front::before {
          font-size: 4.9583333333vw; }
        .board--solitaire .card__color {
          font-size: 1.4875vw; }
      .board--solitaire .card-placeholder {
        height: 13.8833333333vw;
        width: 9.9166666667vw;
        margin-left: 2.3194444444vw; }
        .board--solitaire .card-placeholder.tableau__column:before {
          height: 13.8833333333vw;
          width: 9.9166666667vw;
          margin-left: 0; } }
  @media only screen and (min-width: 1440px) {
    .board--solitaire {
      padding-left: 12.5vw;
      padding-right: 12.5vw; }
      .board--solitaire .card {
        height: 12.495vw;
        width: 8.925vw; }
        .board--solitaire .card__back, .board--solitaire .card__front {
          border-radius: 1vw; }
        .board--solitaire .card__back {
          border-width: 0.44625vw; }
        .board--solitaire .card__front::before {
          font-size: 4.4625vw; }
        .board--solitaire .card__color {
          font-size: 1.33875vw; }
      .board--solitaire .card-placeholder {
        height: 12.495vw;
        width: 8.925vw;
        margin-left: 2.0875vw; }
        .board--solitaire .card-placeholder.tableau__column:before {
          height: 12.495vw;
          width: 8.925vw;
          margin-left: 0; } }
  @media only screen and (min-width: 1920px) {
    .board--solitaire {
      padding-left: 16.6666666667vw;
      padding-right: 16.6666666667vw; }
      .board--solitaire .card {
        height: 11.1066666667vw;
        width: 7.9333333333vw; }
        .board--solitaire .card__back, .board--solitaire .card__front {
          border-radius: 1vw; }
        .board--solitaire .card__back {
          border-width: 0.3966666667vw; }
        .board--solitaire .card__front::before {
          font-size: 3.9666666667vw; }
        .board--solitaire .card__color {
          font-size: 1.19vw; }
      .board--solitaire .card-placeholder {
        height: 11.1066666667vw;
        width: 7.9333333333vw;
        margin-left: 1.8555555556vw; }
        .board--solitaire .card-placeholder.tableau__column:before {
          height: 11.1066666667vw;
          width: 7.9333333333vw;
          margin-left: 0; } }

.board--spider {
  padding-left: 4.1666666667vw;
  padding-right: 4.1666666667vw; }
  .board--spider .card {
    height: 10.6901666667vw;
    width: 7.6358333333vw; }
    .board--spider .card__back, .board--spider .card__front {
      border-radius: 1vw; }
    .board--spider .card__back {
      border-width: 0.3817916667vw; }
    .board--spider .card__front::before {
      font-size: 3.8179166667vw; }
    .board--spider .card__color {
      font-size: 1.145375vw; }
  .board--spider .card-placeholder {
    height: 10.6901666667vw;
    width: 7.6358333333vw;
    margin-left: 1.7009259259vw; }
    .board--spider .card-placeholder.tableau__column:before {
      height: 10.6901666667vw;
      width: 7.6358333333vw;
      margin-left: 0; }
  @media only screen and (min-width: 414px) {
    .board--spider {
      padding-left: 12.5vw;
      padding-right: 12.5vw; }
      .board--spider .card {
        height: 8.7465vw;
        width: 6.2475vw; }
        .board--spider .card__back, .board--spider .card__front {
          border-radius: 1vw; }
        .board--spider .card__back {
          border-width: 0.312375vw; }
        .board--spider .card__front::before {
          font-size: 3.12375vw; }
        .board--spider .card__color {
          font-size: 0.937125vw; }
      .board--spider .card-placeholder {
        height: 8.7465vw;
        width: 6.2475vw;
        margin-left: 1.3916666667vw; }
        .board--spider .card-placeholder.tableau__column:before {
          height: 8.7465vw;
          width: 6.2475vw;
          margin-left: 0; } }
  @media only screen and (min-width: 768px) {
    .board--spider {
      padding-left: 4.1666666667vw;
      padding-right: 4.1666666667vw; }
      .board--spider .card {
        height: 10.6901666667vw;
        width: 7.6358333333vw; }
        .board--spider .card__back, .board--spider .card__front {
          border-radius: 1vw; }
        .board--spider .card__back {
          border-width: 0.3817916667vw; }
        .board--spider .card__front::before {
          font-size: 3.8179166667vw; }
        .board--spider .card__color {
          font-size: 1.145375vw; }
      .board--spider .card-placeholder {
        height: 10.6901666667vw;
        width: 7.6358333333vw;
        margin-left: 1.7009259259vw; }
        .board--spider .card-placeholder.tableau__column:before {
          height: 10.6901666667vw;
          width: 7.6358333333vw;
          margin-left: 0; } }
  @media only screen and (min-width: 1024px) {
    .board--spider {
      padding-left: 8.3333333333vw;
      padding-right: 8.3333333333vw; }
      .board--spider .card {
        height: 9.7183333333vw;
        width: 6.9416666667vw; }
        .board--spider .card__back, .board--spider .card__front {
          border-radius: 1vw; }
        .board--spider .card__back {
          border-width: 0.3470833333vw; }
        .board--spider .card__front::before {
          font-size: 3.4708333333vw; }
        .board--spider .card__color {
          font-size: 1.04125vw; }
      .board--spider .card-placeholder {
        height: 9.7183333333vw;
        width: 6.9416666667vw;
        margin-left: 1.5462962963vw; }
        .board--spider .card-placeholder.tableau__column:before {
          height: 9.7183333333vw;
          width: 6.9416666667vw;
          margin-left: 0; } }
  @media only screen and (min-width: 1440px) {
    .board--spider {
      padding-left: 12.5vw;
      padding-right: 12.5vw; }
      .board--spider .card {
        height: 8.7465vw;
        width: 6.2475vw; }
        .board--spider .card__back, .board--spider .card__front {
          border-radius: 1vw; }
        .board--spider .card__back {
          border-width: 0.312375vw; }
        .board--spider .card__front::before {
          font-size: 3.12375vw; }
        .board--spider .card__color {
          font-size: 0.937125vw; }
      .board--spider .card-placeholder {
        height: 8.7465vw;
        width: 6.2475vw;
        margin-left: 1.3916666667vw; }
        .board--spider .card-placeholder.tableau__column:before {
          height: 8.7465vw;
          width: 6.2475vw;
          margin-left: 0; } }
  @media only screen and (min-width: 1920px) {
    .board--spider {
      padding-left: 16.6666666667vw;
      padding-right: 16.6666666667vw; }
      .board--spider .card {
        height: 7.7746666667vw;
        width: 5.5533333333vw; }
        .board--spider .card__back, .board--spider .card__front {
          border-radius: 1vw; }
        .board--spider .card__back {
          border-width: 0.2776666667vw; }
        .board--spider .card__front::before {
          font-size: 2.7766666667vw; }
        .board--spider .card__color {
          font-size: 0.833vw; }
      .board--spider .card-placeholder {
        height: 7.7746666667vw;
        width: 5.5533333333vw;
        margin-left: 1.237037037vw; }
        .board--spider .card-placeholder.tableau__column:before {
          height: 7.7746666667vw;
          width: 5.5533333333vw;
          margin-left: 0; } }

html {
  height: 100%;
  width: 100%; }

.controls {
  display: -ms-flexbox;
  display: flex; }
  .controls__item {
    margin-left: 20px; }
  .controls__link {
    -ms-flex-align: center;
        align-items: center;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    height: 20px;
    width: 20px; }
    @media only screen and (min-width: 768px) {
      .controls__link {
        height: 30px;
        width: 30px; } }
    @media only screen and (min-width: 1920px) {
      .controls__link {
        height: 48px;
        width: 48px; } }
  .controls__icon {
    color: #FDFDFD;
    display: block;
    height: 12px;
    position: relative;
    transition: color 0.25s;
    width: 12px; }
    .controls__icon--cross::after, .controls__icon--cross::before {
      background: currentColor;
      border-radius: 1px;
      content: "";
      display: block;
      height: 2px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%; }
    .controls__icon--cross::after {
      transform: translateY(-50%) rotate(45deg); }
    .controls__icon--cross::before {
      transform: translateY(-50%) rotate(-45deg); }
    .controls__icon--undo::before {
      content: "⟲";
      display: block;
      font-size: 0.9em;
      line-height: 1;
      margin-top: -1px; }
      @media only screen and (min-width: 768px) {
        .controls__icon--undo::before {
          font-size: 1.25rem; } }
      @media only screen and (min-width: 1920px) {
        .controls__icon--undo::before {
          font-size: 2.3rem; } }
    .controls__icon--plus::after, .controls__icon--plus::before {
      background: currentColor;
      border-radius: 1px;
      bottom: 0;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      width: 2px; }
      @media only screen and (min-width: 1920px) {
        .controls__icon--plus::after, .controls__icon--plus::before {
          width: 4px; } }
    .controls__icon--plus::before {
      left: 50%;
      margin-left: -1px; }
    .controls__icon--plus::after {
      left: 5px;
      transform: rotate(90deg); }
      @media only screen and (min-width: 768px) {
        .controls__icon--plus::after {
          left: 8px; } }
      @media only screen and (min-width: 1920px) {
        .controls__icon--plus::after {
          left: 16px; } }
    @media only screen and (min-width: 768px) {
      .controls__icon {
        height: 18px;
        width: 18px; } }
    @media only screen and (min-width: 1920px) {
      .controls__icon {
        height: 36px;
        width: 36px; } }

.options {
  background-image: -owg-linear-gradient(-70deg, #2b384d, #2b3e4d);
  background-image: linear-gradient(-70deg, #2b384d, #2b3e4d);
  bottom: 0;
  color: #FDFDFD;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  left: 0;
  min-width: 320px;
  padding: 5rem 0;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  width: calc(17.2vw + 50px);
  z-index: 11; }
  .options--open {
    transform: translateX(0); }
  .options__close {
    color: #FDFDFD;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 25px;
    top: 13px; }
  .options__list {
    width: 100%; }
    .options__list--settings {
      -ms-flex-item-align: end;
          align-self: flex-end; }
  .options__link {
    bottom: 0;
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .options__item {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding: 24px 36px;
    position: relative; }
    .options__item::before {
      background-image: -owg-linear-gradient(-70deg, #141a24, #141d24);
      background-image: linear-gradient(-70deg, #141a24, #141d24);
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.4;
      position: absolute;
      top: 0;
      transition: opacity 0.6s ease;
      width: 100%;
      z-index: -1; }
    .options__item:hover::before {
      opacity: 1; }
    .options__item p {
      color: #5a6f90; }
    .options__item--headline, .options__item--setting {
      padding-bottom: 20px;
      padding-top: 20px; }
      .options__item--headline::before, .options__item--setting::before {
        background: transparent; }
  .options__thumb {
    box-shadow: 2.5px 2px 5px rgba(0, 0, 0, 0.05), -2.5px 3px 5px rgba(0, 0, 0, 0.1);
    color: #FDFDFD;
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    height: 0;
    margin-right: 16px;
    padding-bottom: 25%;
    position: relative; }
    .options__thumb::after {
      font-size: 1.75rem;
      font-weight: 300;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%); }
    .options__item--klondike .options__thumb {
      background: #3ca0cc; }
      .options__item--klondike .options__thumb::after {
        content: "K"; }
    .options__item--spider .options__thumb {
      background: #913D88; }
      .options__item--spider .options__thumb::after {
        content: "S"; }
    .options__item--freecell .options__thumb {
      background: #26A65B; }
      .options__item--freecell .options__thumb::after {
        content: "F"; }
  .options__checkbox {
    left: -9999px;
    position: absolute;
    top: -9999px; }
    .options__checkbox-label {
      font-weight: 300;
      padding-left: 40px;
      position: relative; }
      .options__checkbox-label::after, .options__checkbox-label::before {
        box-sizing: border-box;
        content: "";
        display: block;
        position: absolute;
        transition: all 0.25s ease;
        vertical-align: middle; }
      .options__checkbox-label::before {
        background: #1d2634;
        border-radius: 3px;
        left: 0;
        height: 20px;
        width: 20px; }
      .options__checkbox-label::after {
        background: #94a4bc;
        border-radius: 2px;
        height: 8px;
        left: 6px;
        opacity: 0;
        top: 6px;
        transform: scale(3);
        transition: all 0.25s ease;
        width: 8px; }
    .options__checkbox:hover + .options__checkbox-label {
      cursor: pointer; }
      .options__checkbox:hover + .options__checkbox-label::before {
        box-shadow: 2.25px 1px 4px rgba(0, 0, 0, 0.05), -2.25px 2px 4px rgba(0, 0, 0, 0.1); }
    .options__checkbox:checked + .options__checkbox-label::after {
      transform: scale(1);
      opacity: 1; }

.overlay {
  background-image: -owg-linear-gradient(45deg, #303e55, #304455);
  background-image: linear-gradient(45deg, #303e55, #304455);
  color: #FDFDFD;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.875rem;
  -ms-flex-pack: justify;
      justify-content: space-between;
  left: 0;
  letter-spacing: 0.05em;
  padding: 2px 0;
  padding-left: inherit;
  padding-right: inherit;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10; }
  .overlay__statistics {
    display: -ms-flexbox;
    display: flex; }
  @media only screen and (min-width: 768px) {
    .overlay {
      padding-bottom: 12px;
      padding-top: 12px; } }
  @media only screen and (min-width: 1920px) {
    .overlay {
      padding-bottom: 18px;
      padding-top: 18px; } }

.statistics {
  font-size: 12px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }
  .statistics__item {
    margin-right: 36px; }
    .statistics__item:last-child {
      margin-right: 0; }
    .statistics__item--time {
      display: none; }
      @media only screen and (min-width: 414px) {
        .statistics__item--time {
          display: block; } }
  .statistics__label {
    font-weight: 300;
    text-transform: lowercase; }
  .statistics__value {
    font-weight: 700;
    margin-left: 6px; }
    @media only screen and (min-width: 768px) {
      .statistics__value {
        font-size: 1.3em; } }
  @media only screen and (min-width: 768px) {
    .statistics {
      font-size: 16px; } }

.menu__link {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -ms-flex-pack: center;
      justify-content: center;
  width: 30px; }
  .menu__link-icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 12px;
    -ms-flex-pack: justify;
        justify-content: space-between;
    width: 16px; }
    .menu__link-icon span {
      background: currentColor;
      border-radius: 1px;
      display: block;
      height: 2px;
      width: 100%; }
  @media only screen and (min-width: 768px) {
    .menu__link {
      height: 30px;
      width: 30px; }
      .menu__link-icon {
        height: 16px;
        width: 22px; } }
  @media only screen and (min-width: 1920px) {
    .menu__link {
      height: 48px;
      width: 48px; }
      .menu__link-icon {
        height: 25px;
        width: 36px; }
        .menu__link-icon span {
          height: 4px; } }

body {
  font: 400 16px/1.4 sans-serif; }

h3 {
  font-size: 0.75rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.1;
  text-transform: uppercase; }

h4 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 4px; }
  h4 + p {
    font-size: 0.875rem;
    line-height: 1.2; }

a {
  cursor: pointer; }

.board--black .card__back {
  background: #1F1F1F;
  background-image: -owg-linear-gradient(-45deg, #1F1F1F, #1f1f1f);
  background-image: linear-gradient(-45deg, #1F1F1F, #1f1f1f); }
  .board--black .card__back::after, .board--black .card__back::before {
    border-color: black; }

.board--black .card--clicked .card__front, .board--black .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #5f5f5f; }

.board--gray .card__back {
  background: #95a5a6;
  background-image: -owg-linear-gradient(-45deg, #95a5a6, #95a6a4);
  background-image: linear-gradient(-45deg, #95a5a6, #95a6a4); }
  .board--gray .card__back::after, .board--gray .card__back::before {
    border-color: #6d827e; }

.board--gray .card--clicked .card__front, .board--gray .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #dddddd; }

.board--white .card__back {
  background: #FDFDFD;
  background-image: -owg-linear-gradient(-45deg, #FDFDFD, #fdfdfd);
  background-image: linear-gradient(-45deg, #FDFDFD, #fdfdfd); }
  .board--white .card__back::after, .board--white .card__back::before {
    border-color: #d7d7d7; }

.board--white .card--clicked .card__front, .board--white .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px white; }

.board--royalblue .card__back {
  background: #4169e1;
  background-image: -owg-linear-gradient(-45deg, #4169e1, #4184e1);
  background-image: linear-gradient(-45deg, #4169e1, #4184e1); }
  .board--royalblue .card__back::after, .board--royalblue .card__back::before {
    border-color: #1d6bb8; }

.board--royalblue .card--clicked .card__front, .board--royalblue .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #b4c2ee; }

.board--fiord .card__back {
  background: #394a65;
  background-image: -owg-linear-gradient(-45deg, #394a65, #395165);
  background-image: linear-gradient(-45deg, #394a65, #395165); }
  .board--fiord .card__back::after, .board--fiord .card__back::before {
    border-color: #1d2c34; }

.board--fiord .card--clicked .card__front, .board--fiord .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #7b8aa3; }

.board--plum .card__back {
  background: #913D88;
  background-image: -owg-linear-gradient(-45deg, #913D88, #8c3d91);
  background-image: linear-gradient(-45deg, #913D88, #8c3d91); }
  .board--plum .card__back::after, .board--plum .card__back::before {
    border-color: #54265b; }

.board--plum .card--clicked .card__front, .board--plum .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #c28cbc; }

.board--brickred .card__back {
  background: #C32A46;
  background-image: -owg-linear-gradient(-45deg, #C32A46, #c32a60);
  background-image: linear-gradient(-45deg, #C32A46, #c32a60); }
  .board--brickred .card__back::after, .board--brickred .card__back::before {
    border-color: #841c49; }

.board--brickred .card--clicked .card__front, .board--brickred .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #de8f9d; }

.board--red .card__back {
  background: #F64747;
  background-image: -owg-linear-gradient(-45deg, #F64747, #f64764);
  background-image: linear-gradient(-45deg, #F64747, #f64764); }
  .board--red .card__back::after, .board--red .card__back::before {
    border-color: #e50b42; }

.board--red .card--clicked .card__front, .board--red .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #f9c4c4; }

.board--orange .card__back {
  background: #FE8139;
  background-image: -owg-linear-gradient(-45deg, #FE8139, #fe6039);
  background-image: linear-gradient(-45deg, #FE8139, #fe6039); }
  .board--orange .card__back::after, .board--orange .card__back::before {
    border-color: #e91c01; }

.board--orange .card--clicked .card__front, .board--orange .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #fbd3bb; }

.board--yellow .card__back {
  background: #F7CA18;
  background-image: -owg-linear-gradient(-45deg, #F7CA18, #f7a518);
  background-image: linear-gradient(-45deg, #F7CA18, #f7a518); }
  .board--yellow .card__back::after, .board--yellow .card__back::before {
    border-color: #bc6a07; }

.board--yellow .card--clicked .card__front, .board--yellow .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #f6e399; }

.board--green .card__back {
  background: #B9C860;
  background-image: -owg-linear-gradient(-45deg, #B9C860, #c8c660);
  background-image: linear-gradient(-45deg, #B9C860, #c8c660); }
  .board--green .card__back::after, .board--green .card__back::before {
    border-color: #a39838; }

.board--green .card--clicked .card__front, .board--green .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #e0e4c3; }

.board--emerald .card__back {
  background: #26A65B;
  background-image: -owg-linear-gradient(-45deg, #26A65B, #26a646);
  background-image: linear-gradient(-45deg, #26A65B, #26a646); }
  .board--emerald .card__back::after, .board--emerald .card__back::before {
    border-color: #186825; }

.board--emerald .card--clicked .card__front, .board--emerald .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #77d59e; }

.board--mint .card__back {
  background: #36D7B7;
  background-image: -owg-linear-gradient(-45deg, #36D7B7, #36d79c);
  background-image: linear-gradient(-45deg, #36D7B7, #36d79c); }
  .board--mint .card__back::after, .board--mint .card__back::before {
    border-color: #20a167; }

.board--mint .card--clicked .card__front, .board--mint .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #a6e6da; }

.board--aqua .card__back {
  background: #3ca0cc;
  background-image: -owg-linear-gradient(-45deg, #3ca0cc, #3cb8cc);
  background-image: linear-gradient(-45deg, #3ca0cc, #3cb8cc); }
  .board--aqua .card__back::after, .board--aqua .card__back::before {
    border-color: #278f95; }

.board--aqua .card--clicked .card__front, .board--aqua .card--clicked .card__front:hover {
  box-shadow: 0 0 15px 2px #a7cfe1; }

.board--black .controls__link:hover .controls__icon {
  color: #1F1F1F; }

.board--gray .controls__link:hover .controls__icon {
  color: #95a5a6; }

.board--white .controls__link:hover .controls__icon {
  color: #FDFDFD; }

.board--royalblue .controls__link:hover .controls__icon {
  color: #4169e1; }

.board--fiord .controls__link:hover .controls__icon {
  color: #394a65; }

.board--plum .controls__link:hover .controls__icon {
  color: #913D88; }

.board--brickred .controls__link:hover .controls__icon {
  color: #C32A46; }

.board--red .controls__link:hover .controls__icon {
  color: #F64747; }

.board--orange .controls__link:hover .controls__icon {
  color: #FE8139; }

.board--yellow .controls__link:hover .controls__icon {
  color: #F7CA18; }

.board--green .controls__link:hover .controls__icon {
  color: #B9C860; }

.board--emerald .controls__link:hover .controls__icon {
  color: #26A65B; }

.board--mint .controls__link:hover .controls__icon {
  color: #36D7B7; }

.board--aqua .controls__link:hover .controls__icon {
  color: #3ca0cc; }
/*# sourceMappingURL=main.css.map */