///
/// Solitaire variables
///

// Breakpoints map
$breakpoints: (
  mobile-s:   320px,
  mobile-m:   375px,
  mobile-l:   414px,
  m-between:  600px,
  tablet:     768px,
  l-between:  960px,
  laptop:     1024px,
  laptop-l:   1440px,
  desktop:    1366px,
  hd:         1920px
);


// use this in combination with the mixin in-development()
// to add styles you want to add only for testing and developing.
$in-development:      true;           // set to false once in production
$grid-columns:        24;

// Typography
$document-font-size:  16;             // base font size

$font-sans:           sans-serif;
$font-text:           $font-sans;
$font-display:        $font-sans;

$font-xx-small:       rem($document-font-size * 0.625);
$font-x-small:        rem($document-font-size * 0.75);
$font-small:          rem($document-font-size * 0.875);
$font-medium:         rem($document-font-size);
$font-large:          rem($document-font-size * 1.25);
$font-x-large:        rem($document-font-size * 2);
$font-xx-large:       rem($document-font-size * 4);

$letter-spacing:      0.05em;         // letter spacing value


// Card info
$card-width:          11vw;           // card width
$card-font:           $font-sans;
$cards-space:         0.833;          // width cards may take up


// colors
$colors: (
  black:              #1F1F1F,
  gray:               #95a5a6,
  white:              #FDFDFD,
  royalblue:          #4169e1,
  fiord:              #394a65,
  plum:               #913D88,
  brickred:           #C32A46,
  red:                #F64747,
  orange:             #FE8139,
  yellow:             #F7CA18,
  green:              #B9C860,
  emerald:            #26A65B,
  mint:               #36D7B7,
  aqua:               mix(#4169e1, #36D7B7)
);

$card-default:        color(orange);


// card values
$card-values: (
  '0':      'A',
  '1':      '2',
  '2':      '3',
  '3':      '4',
  '4':      '5',
  '5':      '6',
  '6':      '7',
  '7':      '8',
  '8':      '9',
  '9':      '10',
  '10':     'J',
  '11':     'Q',
  '12':     'K'
);

$card-colors: (
  diamonds: '♦',
  hearts:   '♥',
  spades:   '♠',
  clubs:    '♣'
);

// responsive card size variables
$card-sizes: (
  laptop:     11vw,
  laptop-l:   8vw,
  hd:         7vw
);

// responsive board width variables
$board-default-size: columns(22);
$board-sizes: (
  mobile-l:   columns(18),
  tablet:     columns(22),
  laptop:     columns(20),
  laptop-l:   columns(18),
  hd:         columns(16)
);