//
// card themes
// pick the color based on the board--modifier
//

.card {
  @each $key, $value in $colors {
    .board--#{$key} & {

      // alter card background
      @include card-colors($value);

      // alter the focus glow around a card
      &--clicked .card__front {

        &, &:hover {
          box-shadow: 0 0 15px 2px desaturate(lighten($value, 25%), 10%);
        }
      }
    }
  }
}