//
// controls mouseover themes
// pick the color based on the board--modifier
//

.controls__link:hover .controls__icon {
  @each $key, $value in $colors {
    .board--#{$key} & {
      color: $value;
    }
  }
}