//
// board block
// contains the card game structure
//

.board {
  background: color(fiord);
  @include gradient(0, color(fiord));
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding-top: 36px;
  width: 100%;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }


  &__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }


  @include break(tablet) {
    padding-top: 80px;
  }

  @include break(hd) {
    padding-top: 136px;
  }
}