//
// general styles for card placeholders
// includes every possibly empty pile, including tableau columns
//

.card-placeholder {
  position: relative;

  .board &:first-child {
    margin-left: 0;
  }

  // emulate card box-shadow to avoid endlessly stacking shadows
  &:not(:empty) {
    @include card-border-radius;
    @include elevate(3);
  }

  // border
  &::before {
    box-sizing: border-box;
    border: 2px solid rgba(color(black), 0.4);
    @include card-border-radius;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  // reset position for cards in a placeholder
  .card {
    left: 0;
    position: absolute;
    top: 0;
  }


  // keep default positioning for cards within the tableau
  .board .tableau & {
    box-shadow: none;
    height: auto;

    .card {
      left: auto;
      position: relative;
      top: auto;
    }
  }
}