//
// tableau
//

.tableau {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 24px;


  &__column {
    display: flex;
    flex-direction: column;
  }


  .card {

    // cards should be stacked so that the card value
    // and color are well visible
    & + .card {
      margin-top: -100%;
    }


    // if the card is turned around, save space
    &--back + .card {
      margin-top: -115%;
    }
  }


  @include break(tablet) {
    margin-top: 7.5%;
  }

  @include break(hd) {
    margin-top: 5%;
  }
}