//
// simple css-only tooltip
//

[data-tooltip] {
  position: relative;

  &::after,
  &::before {
    color: color(white);
    left: 50%;
    line-height: 1;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, 7px);
    transition: all 0.5s ease;
  }
  &::after {
    background: rgba(color(black), 0.8);
    border-radius: 3px;
    content: attr(data-tooltip);
    font-size: $font-xx-small;
    font-weight: bold;
    letter-spacing: 0.05em;
    margin-top: 7px;
    padding: 5px 8px;
    text-align: center;
    top: 98%;
    white-space: nowrap;
  }
  &::before {
    @include arrow(top, 5px, rgba(color(black), 0.8));
    top: 98%;
  }

  // mouseover: reveal the tooltip
  &:hover {
    &::after,
    &::before {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}