//
// menu
//

.menu {
  &__link {
    align-items: center;
    align-self: center;
    display: flex;
    height: 20px;
    justify-content: center;
    width: 30px;


    &-icon {
      display: flex;
      flex-direction: column;
      height: 12px;
      justify-content: space-between;
      width: 16px;

      span {
        background: currentColor;
        border-radius: 1px;
        display: block;
        height: 2px;
        width: 100%;
      }
    }


    @include break(tablet) {
      height: 30px;
      width: 30px;

      &-icon {
        height: 16px;
        width: 22px;
      }
    }

    @include break(hd) {
      height: 48px;
      width: 48px;

      &-icon {
        height: 25px;
        width: 36px;

        span {
          height: 4px;
        }
      }
    }
  }
}